@page "/"
@using System.Collections.Generic
@using System.Globalization


@inject HolidayService holidayService


<!-- Din Razor-kode her -->



<button @onclick="ExecuteSqlQuery">Kør SQL Query</button>



<button @onclick="GetHolidays">Hent mærkedage</button>

@if (holidays != null)
{
    <table>
        <thead>
            <tr>
                <th>Dato</th>
                <th>Navn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var holiday in holidays)
            {
                <tr>
                    <td>@holiday.date.ToString("d MMMM yyyy", new CultureInfo("da-DK"))</td>
                    <td>@GetDanishHolidayName(holiday.name)</td>
                </tr>
            }
        </tbody>
    </table>
}


